<div ng-controller="ModalDemoCtrl as vm">
    <div class="modal-header">
        <h3 class="modal-title">Add new project!</h3>
    </div>

    <form name="addFriendForm" ng-submit="vm.submit()">
        <input ng-model="project.title" class="form-control" type="text" placeholder="Title" />
        <textarea ng-model="project.description" class="form-control" type="text" placeholder="Descriptions" ng-minlength="10" ng-maxlength="100" />

        <div id="datetimepicker1" class="input-append date">
            <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
    </form>

    <div class="modal-footer">
        <button type="submit" class="btn btn-info">Save</button>
        <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
    </div>

</div>