<section class="container">
    <div class="row">
        <div>
            <a ui-sref="newproject"> + add new project </a>
        </div>
    </div>
</section>

<div>{{vm.result}}
</div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="span3">
                <div class="well">
                    <h4 class="text-info">{{vm.title}}</h4>
                    <p><span class="label label-info">Priority</span></p>
                    <ul>
                        <li>Team:{{vm.members}}</li>
                        <li>Tasks:{{vm.tasks}}</li>
                        <li>Done:{{vm.tasksDone}}</li>
                    </ul>
                    <p>{{vm.description}}</p>
                    <hr>
                    <p><a class="btn btn-warning" ui-sref="/tasks"><i class="icon-ok"></i> View Project</a></p>
                </div>
            </div>
        </div>
    </div>
</div>